doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= docTitle
    link(rel="stylesheet", href="/css/main.css")
  body
    header.main-header
      h1 Welcome to My Awesome Store
      nav.main-header-nav
        ul.main-header-item-list
          li.main-header-item
            a(href="/") Shop
          li.main-header-item
            a(href="/admin/add-product") Add Product
    main.main-content
      h2 My Products
      ul.product-list
        each product in prods
          li.product-item
            h2= product.title
            p Description of #{product.title}...
